## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

ModuleNotFoundError: No module named 'config'

In [ ]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv.")

city_data_df.head()

In [117]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 76

In [118]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,description
1,1,Bengkulu,-3.80,102.27,74.57,84,100,3.67,ID,light rain
2,2,Pisco,-13.70,-76.22,73.40,69,0,16.11,PE,moderate rain
3,3,Port Alfred,-33.59,26.89,63.70,73,0,7.00,ZA,clear sky
4,4,Hermanus,-34.42,19.23,57.00,84,0,8.16,ZA,clear sky
5,5,Constitucion,-35.33,-72.42,66.60,47,0,19.33,CL,clear sky
11,11,Camacha,33.08,-16.33,60.80,63,40,19.46,PT,scattered clouds
15,15,Mar Del Plata,-38.00,-57.56,68.00,49,22,17.22,AR,few clouds
16,16,Saldanha,-33.01,17.94,60.80,77,0,11.41,ZA,clear sky
17,17,Mahebourg,-20.41,57.70,75.20,83,40,6.93,MU,scattered clouds
18,18,Kingori,-3.28,36.98,69.80,77,20,5.82,TZ,few clouds

In [119]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        182
City           182
Lat            182
Lng            182
Max Temp       182
Humidity       182
Cloudiness     182
Wind Speed     182
Country        177
description    182
dtype: int64

In [120]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df=preferred_cities_df.dropna()

clean_cities_df.count()

City_ID        177
City           177
Lat            177
Lng            177
Max Temp       177
Humidity       177
Cloudiness     177
Wind Speed     177
Country        177
description    177
dtype: int64

In [121]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng","description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,description,Hotel Name
1,Bengkulu,ID,74.57,-3.80,102.27,light rain,
2,Pisco,PE,73.40,-13.70,-76.22,moderate rain,
3,Port Alfred,ZA,63.70,-33.59,26.89,clear sky,
4,Hermanus,ZA,57.00,-34.42,19.23,clear sky,
5,Constitucion,CL,66.60,-35.33,-72.42,clear sky,
11,Camacha,PT,60.80,33.08,-16.33,scattered clouds,
15,Mar Del Plata,AR,68.00,-38.00,-57.56,few clouds,
16,Saldanha,ZA,60.80,-33.01,17.94,clear sky,
17,Mahebourg,MU,75.20,-20.41,57.70,scattered clouds,
18,Kingori,TZ,69.80,-3.28,36.98,few clouds,

In [122]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key    
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
        lat = row["Lat"]
        lng = row["Lng"]
        params["location"]=f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
             hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
             print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [123]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,description,Hotel Name
1,Bengkulu,ID,74.57,-3.80,102.27,light rain,Grage Hotel Bengkulu
2,Pisco,PE,73.40,-13.70,-76.22,moderate rain,Hotel San Isidro Oficial
3,Port Alfred,ZA,63.70,-33.59,26.89,clear sky,The Halyards Hotel
4,Hermanus,ZA,57.00,-34.42,19.23,clear sky,Misty Waves Boutique Hotel
5,Constitucion,CL,66.60,-35.33,-72.42,clear sky,Hotel Boutique Las Azucenas

In [124]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df=hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Lat,Lng,description,Hotel Name
1,Bengkulu,ID,74.57,-3.80,102.27,light rain,Grage Hotel Bengkulu
2,Pisco,PE,73.40,-13.70,-76.22,moderate rain,Hotel San Isidro Oficial
3,Port Alfred,ZA,63.70,-33.59,26.89,clear sky,The Halyards Hotel
4,Hermanus,ZA,57.00,-34.42,19.23,clear sky,Misty Waves Boutique Hotel
5,Constitucion,CL,66.60,-35.33,-72.42,clear sky,Hotel Boutique Las Azucenas

In [125]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [126]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{description} and {Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [132]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content= hotel_info)
fig=gmaps.figure()

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))